*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(36, 35, 35);
    color: white;
    font-family: 'poppins', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(15, 14, 15);
}

.navbar ul{
    display: flex;
    justify-content: center;
}

.navbar ul li{
    list-style: none;
    margin: 0 23px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.navbar-left{
    font-size: 1.5rem;
}

.first-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.first-section-right{
    width: 50%;
    background-color: black;
}

.first-section-left{
    font-size: 3rem;
}

/* .first-section-left > div{
    width: 30%;
} */

.first-section-right img{
    width: 80%;
    margin-left: 10%;
}

.purple{
    color: purple;
}

#element{
    color : purple;
}

.about{
    display: flex;
    justify-content: space-around;
    margin: 50px 50px;
    height: 600px;
}

.about-left{
    background-color: red;
    width: 33%;
    margin: 0 10px;
}

.about-right{
    background-color: red;
    width: 67%;
    margin: 0 10px;
}

.bio{
    height: 20%;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.skill{
    height: 80%;
    margin: 5px 10px;
}

.profile{
    width: 30%;
    margin-left: 10px;
    margin-right: 5px;
}

.profile img{
    width: 100px;
    height: 100px;
}

.detail{
    width: 70%;
    margin-left: 5px;
}

.about h1 {
    padding: 5px 25px;
}

.about-right p{
    padding: 5px 10px;
}

.skill-percent{
    display: flex;
    justify-content: space-between;
}

.file{
    inline-size: 100%;
}

.contact{
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
}

.send-message{
    width: 50%;
    align-items: center;
    margin: 15px 15px;
}

.send-message input{
    width: 95%;
    height: 35px;
    margin: 5px 0;
    border-radius: 5px;
}

.send-message textarea{
    width: 95%;
    margin: 5px 0;
    border-radius: 5px;
}

.send-message button{
    background-color: #0078ff;
    color: #fff;
    border-color: #cde1f8;
    padding: 0.9rem 2.3rem;
    font-size: 1.2rem;
    border-radius: 5rem;
}

.get-in-touch{
    width: 50%;
    margin: 15px 15px;
    align-items: center;
}

.address{
    margin: 10px 0;
}

.address ul{
    list-style: none;
}

.social li{
    list-style: none;
    display: inline;
}

label{
    margin-bottom: 0;
}

p{
    margin-bottom: 0;
}

