*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(08, 08, 08);
    color: white;
    font-family: 'poppins', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(15, 14, 15);
}

.navbar ul{
    display: flex;
    justify-content: center;
}

.navbar ul li{
    list-style: none;
    margin: 0 23px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    position: relative;
}

.navbar ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}

.navbar ul li a:hover:after{
    width: 100%;
}

.navbar-left{
    font-size: 1.5rem;
}

.first-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.first-section-right{
    width: 50%;
    background-color: black;
}

.first-section-left{
    font-size: 3rem;
}

/* .first-section-left > div{
    width: 30%;
} */

.first-section-right img{
    width: 80%;
    margin-left: 10%;
}

.purple{
    color: purple;
}

#element{
    color : purple;
}

.about{
    display: flex;
    justify-content: space-around;
    margin: 50px 50px;
    height: 600px;
}

.about-left{
    background-color: red;
    width: 33%;
    margin: 0 10px;
}

.about-right{
    background-color: red;
    width: 67%;
    margin: 0 10px;
}

.bio{
    height: 20%;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.skill{
    height: 80%;
    margin: 5px 10px;
}

.profile{
    width: 30%;
    margin-left: 10px;
    margin-right: 5px;
}

.profile img{
    width: 100px;
    height: 100px;
}

.detail{
    width: 70%;
    margin-left: 5px;
}

.about h1 {
    padding: 5px 25px;
}

.about-right p{
    padding: 5px 10px;
}

.skill-percent{
    display: flex;
    justify-content: space-between;
}

.file{
    inline-size: 100%;
}

.contact{
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
}

.send-message{
    width: 50%;
    align-items: center;
    margin: 15px 15px;
}

.send-message input{
    width: 95%;
    height: 35px;
    margin: 5px 0;
    border-radius: 5px;
}

.send-message textarea{
    width: 95%;
    margin: 5px 0;
    border-radius: 5px;
}

.send-message button{
    background-color: #0078ff;
    color: #fff;
    border-color: #cde1f8;
    padding: 0.9rem 2.3rem;
    font-size: 1.2rem;
    border-radius: 5rem;
}

.get-in-touch{
    width: 50%;
    margin: 15px 15px;
    align-items: center;
}

.address{
    margin: 10px 0;
}

.address ul{
    list-style: none;
}

.social li{
    list-style: none;
    display: inline;
}

label{
    margin-bottom: 0;
}

p{
    margin-bottom: 0;
}

.myservices{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 30px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

.mywork{
    padding: 30px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    height: 280px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500px;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%; /*  to make circle */
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}
